body {
    margin: 0;
    padding: 0;
}

.geocoder {
    position: absolute;
    z-index: 1;
    /* width: 50%; */
    right: 50px;
    /* margin:auto;     */
    top: 10px;
    }
    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }

#map {
    width: 100vw;
    height: 100vh;
}


.test {
    background-color: papayawhip;
    color: rgb(56, 53, 53);
    position: absolute;
}

h1 {
    margin:0;
}

h5 {
    margin: 0;
}