body {
    margin: 0;
    padding: 0;
}

.top-container {
    background-color:powderblue;
    font-size: 30px;
    font-family: 'Sacramento','Comic Neue', cursive;
    color: #faf4ff;
    margin-bottom: 100px;
    height:200px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

h4 {
    margin: 25px;
    font-family: cursive;
}

.map-container {
    position: relative;
}
.geocoder {
    position: absolute;
    z-index: 1;
    /* width: 50%; */
    right: 50px;
    /* margin:auto;     */
    top: 10px;
    }
    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }

#map {
    width: 100%;
    height: 100vh;
}


.test {
    background-color: papayawhip;
    color: rgb(56, 53, 53);
    position: absolute;
}

h1 {
    margin:0;
}

h5 {
    margin: 0;
}